<div class="form_row">
  <label for="address1">Address1:</label>
  <input name="company[address1]" value= <%= @company.address1 %>  size="40" type="text">
</div>
<div class="form_row">

  <label for="address2">Address2:</label>
  <input name="company[address2]" value= <%= @company.address2 %> size="40" type="text">
</div>
<div class="form_row">
  <label for="country">Country:</label>
<input name="company[country]" value= <%= @company.country %> size="40" type="text">
</div>
